@{
    ViewData["Title"] = "Apagar o Contato";
}
<div class="text-center">

    <h1 class="display-4">Realmente deseja apagar o contato ( ) </h1>




    <br />
    <br />

    <a class="btn btn-success" role="button"> Sim </a>
    <a class="btn btn-danger" role="button"> Não </a>
</div>
    <br /><br />
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar </a>

