@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1 class="display-4">Lista de Contatos</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Gabriel</td>
            <td>gabriel@gmail.com</td>
            <td>41 9 1234-4321</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton@gmail.com</td>
            <td>11 9 1234-4321</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ana</td>
            <td>aninha@gmail.com</td>
            <td>65 9 1234-4321</td>
        </tr>
    </tbody>
</table>