@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2></h2>
            <p>A sua privacidade é importante para nós. É política do nosso site respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site, e outros sites que possuímos e operamos.</p>

            <h3>Informações que coletamos</h3>
            <p>Quando você visita nosso site, automaticamente coletamos certas informações sobre o seu dispositivo, incluindo informações sobre seu navegador da web, endereço IP, fuso horário e alguns dos cookies que estão instalados em seu dispositivo. Além disso, enquanto você navega pelo nosso site, coletamos informações sobre as páginas individuais ou produtos que você visualiza, quais sites ou termos de pesquisa referiram você ao nosso site e informações sobre como você interage com o site.</p>

            <h3>Uso das informações</h3>
            <p>Utilizamos as informações coletadas para fornecer e manter nosso site, além de melhorar continuamente a experiência do usuário. Também podemos utilizar as informações para fornecer anúncios personalizados com base em suas preferências.</p>

            <h3>Compartilhamento das informações</h3>
            <p>Nós não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>

            <h3>Segurança das informações</h3>
            <p>Tomamos precauções para proteger suas informações pessoais. No entanto, não podemos garantir a segurança de nenhuma informação que você transmita pela Internet. É importante que você proteja a segurança de suas informações de login e senha e que não as compartilhe com ninguém.</p>

            <h3>Alterações nesta política de privacidade</h3>
            <p>Reservamos o direito de modificar esta política de privacidade a qualquer momento. As alterações e esclarecimentos surtem efeito imediatamente após serem publicados no site. Caso façamos alterações na política de privacidade, atualizaremos a data da "Última Atualização" no início desta página.</p>

            <h3>Contato</h3>
            <p>Se você tiver alguma dúvida sobre esta política de privacidade, entre em contato conosco por e-mail ou por correio postal.</p>
            <p>Última Atualização: 12 de Maio de 2023</p>
        </div>
    </div>
</div>
