@{
    ViewData["Title"] = "Lista de Contatos";
}
<div class="text-center">

    <h1 class="display-4">Faça o Login</h1>

</div>

<div>
    <form>

        <div class="form-group">
            <label for="nome">Login </label>
            <input type="text" class="form-control" placeholder="Digite seu Login">
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" placeholder="Digite sua senha">
        </div>

        
        <br />




        <button type="submit" class="btn btn-primary">Adicionar</button> <br />
        <br />

        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Esqueci minha Senha </a>
        <br />
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar </a>

    </form>
</div>
