@{
    ViewData["Title"] = "Lista de Contatos";
}
<div class="text-center">

    <h1 class="display-4">Resetar Senha</h1>

</div>

<div>
    <form>

        <div class="form-group">
            <label for="email">E-mail </label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite Seu E-mail">
            <small id="emailHelp" class="form-text text-muted">Um E-mail foi enviado para Redefinir sua Senha, verifique a caixa de spam.</small>
        </div>

        <br />

        <button type="submit" class="btn btn-primary">R</button> <br />
        <br />

        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Esqueci minha Senha </a>
        <br />
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar </a>

    </form>
</div>
