@page
@model MVCIFPR.Pages.User.DeleteModel
@{
}

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dimissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">


 <h2 class = text-center>Realmente deseja apagar o Usuário(a)?</h2>
 <h1 class = text-center>( @Model.userinfo.Nome )</h1>
<br />
    @if (Model.successMessage.Length > 0)
    {



            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dimissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <script>
                setTimeout(function () {
                    Swal.fire({
                        title: 'Usuário Deletado Redirecionando...',
                        icon: 'success',
                        timer: 3000,
                        timerProgressBar: true
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                            window.location.replace('/User/Index');
                        }
                    });
                }, 100);
            </script>
    }
<br />

 <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-success">Sim</button>
        </div>

        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-danger"href="/" role="button">Não</a>
        </div>

    </div>

</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>